/*Omaa CSS*/

#msg-input {
    display: none;
}

#leaveBtn {
    display: none;
}

#roomDiv {
    display: none;
}

hr {
    border: 0.5px solid #71D8F5;
    margin: 0.5rem 1.25rem 0.8rem 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-own {
      @apply bg-mm-key-lime hover:bg-mm-fiery-rose hover:text-mm-key-lime text-mm-fiery-rose font-bold w-fit py-2 px-4 cursor-pointer rounded-md;
    }

    
  }